:root {
    --color-secondary: #dcf0ff;
   
}

html {
    max-width: 100%;

   
}

body {
    background-color: gray;
    font-size: 1vw;
    font-family: Open Sans Condensed, Arial, Sans Serif;
    font-weight: 600;
    -webkit-filter:unset;
  
   
}

/*a,
a:hover,
a:visited {
    color: var(--color-secondary);
    text-decoration: none;
}*/

/*p {
    margin-bottom: 2vw;
}*/

.container {
    max-width: 100%;
    
}

.row {
    flex-wrap:unset;
 
}

.container,
.row,
.col,
.col-md {
    padding: 0;
    margin: 0;
}

.w100 {
    width: 100%;
    height:auto;
   
  
}

#menu {
   
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(80, 80, 85, 0.5);
    height: 5vw;
    z-index: 2;
    transition: 0.2s;
}

    #menu.thin {
        height: 4vw;
    }

#menu-burger {
    margin: 0.25vw 0 0.25vw 2vw;
    cursor: pointer;
    z-index: 2;
}

#menu-panel {
    position: absolute;
    visibility: hidden;
    top: 5vw;
    left: 0;
    background-color: rgba(80, 80, 85, 0.5);
    padding: 1vw 2vw 1vw 0;
    z-index: 4;
    font-size: 2vw;
    border-bottom-right-radius: 1.25vw;
}

.thin #menu-panel {
    top: 4vw;
}

/*#menu-panel li {
    list-style-type: none;
}*/

a.menu-link {
    color: white;
    text-decoration: none;
}

.menu-link:hover {
    color: var(--color-secondary);
    text-decoration: none;
}

.menu-logo {
    padding: 1vw;
}

    .menu-logo img {
        position: relative;
        right: 2vw;
        color: white;
        float: right;
        height: 100%;
    }

/*.col-md.col-banner {
    color: white;
    padding: 0;
    text-align: left;
    width: 100%;
    overflow: hidden;
}*/

/*#banner {
    width: 101%;
    margin-top: 0vw;
    left: 0;
    right: 0;
    z-index: 0;*/
    /*
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
	*/
/*}*/

/*.banner-text {
    position: absolute;
    text-indent: -8vw;
    top: 22vw;
    left: 12vw;
    text-shadow: 0 0 2vw rgba(0, 0, 10, 0.7);
    margin: auto;
    font-size: 4vw;
    z-index: 1;
}*/

/*.txt-large {
    position: absolute;
    top: 14vw;
    left: 9vw;
    color: white;
    text-shadow: 0 0 2vw rgba(0, 0, 10, 0.8);
    font-size: 5vw;
    padding: 4vw 2vw 4vw 0;
}

h1 {
    color: white;
    font-family: Open Sans Condensed, Arial, Sans Serif;
    font-size: 4vw;
    font-weight: 600;
    margin: 4vw 0 3vw 0;
}

h2 {
    color: white;
    font-family: Open Sans Condensed, Arial, Sans Serif;
    font-size: 2.5vw;
    font-weight: 600;
    margin: 4vw 0 3vw 0;
}

h3 {
    font-size: 2vw;
    margin-bottom: 2vw;
}*/

/*#ichbin {
    text-shadow: 0 0 3vw rgba(0, 0, 10, 0.6);
}*/

/*.img-large {
    width: 42vw;
}*/

/*.lft {
    margin: 0 0 0px 5vw;
}

.rgt {
    margin: 0 2vw 0px 3vw;
}*/

/*.info {
    width: 42vw;
    margin-bottom: 3vw;
    padding: 3vw;
    background-color: #dae8f2;
    color: #334;
    font-family: Open Sans, Arial, Sans Serif;
    font-size: 1.5vw;
    font-weight: 500;
    text-align: left;
}

#impressum,
#datenschutz {
    margin-right: 5vw;
    font-family: Open Sans, Arial, Sans Serif;
    font-size: 1.5vw;
    font-weight: 500;
}

    #impressum strong,
    #datenschutz strong {
        font-weight: 600;
    }

    #impressum big,
    #datenschutz big {
        font-size: 1.8vw;
    }

#datenschutz {
    background-color: #505058;
    color: #bbb;
}

#impressum {
    background-color: #e0e0e4;
    color: #334;
}

    #impressum a {
        color: #4cb2ff;
    }

    #impressum h2 {
        text-shadow: 0 0 2vw rgba(0, 0, 0, 0.3);
    }

.jump-top {
    font-size: 1.5vw;
    margin-bottom: 4vw;
    font-family: Open Sans Condensed, Arial, Sans Serif;
    font-weight: 600;
}*/

/*#kontakt-flag {
    position: fixed;
    bottom: 2vw;
    right: 0;
    width: 3vw;
    z-index: 2;
    cursor: pointer;
}*/

/*#dimmer {
    position: fixed;
    background-color: rgba(0, 20, 32, 0.6);
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: none;
}*/

/*#kontakt {
    position: fixed;
    background-color: rgba(250, 250, 255, 0.9);
    width: 40vw;
    top: 8vw;
    left: 30vw;
    border-radius: 1.25vw;
    z-index: 6;
    display: none;
}

.dialog-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3vw;
    border-top-left-radius: 1.25vw;
    border-top-right-radius: 1.25vw;
    background-color: var(--color-secondary);
}*/

/*.dialog-header-text {
    position: absolute;
    left: 1vw;
    top: 0.35vw;
    color: #668;
    font-size: 1.5vw;
}*/

/*#kontakt-header-close,
#feedback-message-close {
    position: absolute;
    right: 0.5vw;
    top: 0.5vw;
    color: #668;
    font-size: 2vw;
    cursor: pointer;
    z-index: 5;
}
*/
/*.kontakt-form {
    position: relative;
    top: 0;
    padding: 4vw 4vw 1vw 4vw;
}

    .kontakt-form label {
        color: #668;
        font-size: 1.1vw;
    }

    .kontakt-form input,
    .kontakt-form textarea,
    .kontakt-form button {
        color: #668;
        width: 100%;
        margin: -0.25vw 0 0.5vw 0;
        display: inline-block;
        border: 0.1vw solid #ccc;
        box-shadow: inset 0 0.1vw 0.3vw #ddd;
        border-radius: 0.25vw;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0.5vw 1vw;
        font-family: Open Sans, Arial, Sans Serif;
        font-size: 1vw;
        font-weight: 400;
    }

    .kontakt-form textarea {
        resize: none;
        height: 7vw;
    }

#contact {
    width: 32vw;
}*/

/*#submit {
    margin-top: 0.5vw;
    font-family: Open Sans Condensed, Arial, Sans Serif;
    font-weight: 600;
    font-size: 1.1vw;
    color: #668;
    background-color: var(--color-secondary);
    box-shadow: none;
}

#kontakt-send-a-mail {
    text-align: center;
    color: #668;
}

    #kontakt-send-a-mail a {
        color: #6b9bbc;
    }

#feedback-message {
    position: fixed;
    color: #668;
    background-color: rgba(250, 250, 255, 0.9);
    width: 40vw;
    top: 8vw;
    font-size: 1.25vw;
    padding: 4vw 3vw 1.5vw 3vw;
    left: 30vw;
    border-radius: 1.25vw;
    z-index: 6;
    display: none;
}*/

/*#footer {
    background-color: #101013;
    padding: 1.3vw 0 1.5vw 0;
    font-size: 1.5vw;
}

.parallax-window {
    height: 20vw;
    background: transparent;
    z-index: 10;
}
*/
#retina-img {
    position: relative;
    cursor:crosshair;
   
}

/*#retina-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}*/

#status {
    position: fixed;
    bottom: 0;
    height: 2vw;
    background-color: black;
    color: white;
    z-index: 10;
}

#status-text {
    font-family: Open Sans, Arial, Sans Serif;
    font-size: 0.9vw;
    margin-top: 0.2vw;
    margin-left: 1vw;
    font-weight: 400;
}

.container-a{
  
   display:flex;

 
}
#fenster1 {
    position: absolute;
    top: 4.5vw;
    left: 1vw;
    background-color: transparent;
    visibility:visible;
}
.box {
    font-family: Arial;
    position: absolute;
    top: 4.5vw;
    left: 1vw;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    border: 0vw solid;
    background-color: rgba(80, 80, 85, 0.5);
    font-size: 0.9vw;
    padding: 0.5vw;
    visibility:visible;
    /*    margin: 55px 0 0 160px;
*/
}
/*
     .text-info{
    background-color:transparent;
    
    }*/
table {
    border-collapse: collapse;
    color:aliceblue;
    font-size:0.5vw;
    
}

th, td {
    padding: 0.5vw;
    text-align: left;
    border-bottom: 0vw solid #ddd;
}


.box .butM {
    border-radius: 2vw;
    border: 0.1vw;
    width: 13vw;
    padding: 0vw 2vw 0 2vw;
    margin: 0vw 0.2vw 0 0.2vw;
}

.box .butB {
    border-radius: 2vw;
    border: 0.1vw;
    width: 13vw;
    padding: 0vw 0vw 0 0vw;
    margin: 0vw 0.2vw 0 0.2vw;
}

.box .notfall {
    border-radius: 2vw;
    border: 0.1vw;
    width: 4vw;
    padding-right: 2vw;
    padding: 0vw 0vw 0 0vw;
    margin: 0vw 0vw 0vw 3vw;
}



.senden {
    color: green;
    font-size:0.5vw;
    padding:0.2vw;
    
    
       
      
}
#fenster2 {
    position: absolute;
    top: 4.5vw;
    right: 1vw;
    background-color: transparent;
    visibility: visible;
}
.box2 {
    color: white;
    position: absolute;
    top: 4.5vw;
    right: 1vw;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    border: 0vw solid;
    background-color: rgba(80, 80, 85, 0.5);
    font-size: 0.9vw;
    visibility: visible;
    /*margin: 55px 100px 0 500px;*/
}


.slidecontainer {
    width: 15vw;
    padding: 0.5vw;
    background-color:transparent;
    margin: -1.5vw 0.5vw 0.5vw 0vw;
    cursor:crosshair;
}

.slider {
    -webkit-appearance: none;
    width: 12vw;
    height: 0.1vw;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor:e-resize;
}

    .slider:hover {
        opacity: 1;
        
       
    }
/*.slidecontainer #myRange3 {
    filter:saturate(100%);
}*/
/*#myRang4{

}*/

            /*.range-wrapper {*/
                /* Center the content */
                /*margin:-2vw 0vw 0vw 0vw;
                align-items: center;
                display: flex;
                justify-content: center;*/
                /* Misc */
                /*padding-top: 2rem;
            }*/
            .range-container:hover{
                opacity:2;
            }
            .range-container {
                /* Content is centered horizontally */
                align-items: center;
                display: flex;
                /* Size */
                width: 12vw;
                height: 0.9vw;
                /* Misc */
                margin: -0.5vw 0.1vw;
                opacity: 0.7;
                transition: opacity .2s;
                

            }
            .left {
                /* Width based on the current value */
                height: 2px;
                /* Colors */
                background-color: #e0e0e4;
            }
            .knob {
                /* Size */
                height: 1rem;
                width: 1rem;
                -webkit-appearance: none;
    
                cursor: e-resize;
                /* Rounded border */
                border-radius: 9999px;
                /* Colors */
                background-color:#0b74c1;
               
            }
           
            .right {
                /* Take the remaining width */
                flex: 1;
                height: 2px;

                /* Colors */
                background-color:#e0e0e4;
            }

#fenster3 {
    position: absolute;
    top: 25vw;
    left: 1vw;
    background-color: transparent;
    visibility: visible;
}
.box3 {
    color: white;
    position: absolute;
    top: 25vw;
    left: 1vw;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    border: 0vw solid;
    background-color: rgba(80, 80, 85, 0.5);
    font-family: Arial;
    font-size: 0.5vw;
    padding: 0.5vw;
    visibility: visible;
    /*display:block;*/
}
.containerGlaukaom #Glaukom {
  
    background-color:aqua;
}
.containerDiabetes #Diabetes {
    background-color: aqua;
}
#Glaukom {
    background-color: transparent;
    margin: 1vw 0vw 0vw 1vw;
}

#Diabetes {
    background-color: transparent;
    margin: -1vw 0vw 0vw 1vw;
}

.box3 .radios {
    height: auto;
    margin: -1vw 0vw 0vw 1vw;
   /* background-color: red;*/
    padding: 0.5vw;
}

.box3 .radios .verticalsliderid {
     position: absolute;
     top: 1.9vw;
     left: 12vw;
 }

.box3 .radiosDiabetes .verticalsliderid {
    position: absolute;
    top: 11.8vw;
    left: 12vw;
}

input[type=range][id=verticalsliderid] {
    writing-mode: vertical-lr;
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 0.1vw;
    right: 1vw;
    height: 7vw;
    cursor: e-resize;
    outline:unset;

}
.block{
    display:block;
}

.continerBox3 {
    /*background-color: gray;*/
    text-align:left;
    bottom:0vw;
    max-height: auto;
    margin: 0vw 0vw 0.2vw 0vw;
    padding: 0vw 0vw 0vw 0vw;
  
}
.box3 .radiosDiabetes {

    margin: -1vw 0vw 0vw 1vw;
   /* background-color: red;*/
    padding: 0.5vw;
}


.vorbefundung {
    border-radius: 2vw;
    border: 0.1vw;
    width: 13vw;
    margin: 2vw 2vw 2vw 2vw;
    margin: 0.5vw 0vw 0 0vw;
    font-size: 1vw;
}






#fenster4 {
    position: absolute;
    top: 19vw;
    right: 1vw;
    background-color: transparent;
    visibility: visible;
}

.box4 {
    color: white;
    position: absolute;
    top: 19vw;
    height: 6vw;
    right: 1vw;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    border: 0vw solid;
    background-color: rgba(80, 80, 85, 0.5);
    font-family: Arial;
    font-size: 0.5vw;
    padding: 0.5vw;
    visibility: visible;
}

#fenster5 {
    position: absolute;
    top: 26vw;
    right: 1vw;
    background-color: transparent;
    visibility: visible;
}
.box5 {
    color: white;
    position: absolute;
    top: 26vw;
    height: 6vw;
    right: 1vw;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    border: 0vw solid;
    background-color: rgba(80, 80, 85, 0.5);
    font-family: Arial;
    font-size: 0.5vw;
    padding: 0.5vw;
    visibility: visible;
}
.hellligkeit {
/*    -webkit-filter: contrast(2000%);
*/    
}
